.vs/
packages/
Repository Pattern.Entity/bin/
Repository Pattern.Entity/obj/
Repository Pattern.Repository/bin/
Repository Pattern.Repository/obj/
Repository Pattern.Core/bin/
Repository Pattern.Service/bin/
Repository Pattern.Service/obj/
Repository Pattern.Web/bin/
Repository Pattern.Web/obj/
Repository Pattern.Core/obj/
